@font-face {
  font-family: "Peachy";
  src: url("/custom/assets/paeds/fonts/peachy-keen-jf.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-aqua: #80bddd;
  --color-aqua-dark: #42a6dc;
  --color-sky: #accbe5;
  --color-coral-dark: #e9583b;
  --color-coral-light: rgba(233, 88, 59, 0.5);
  --color-saffron: #ecaa4b;
  --color-saffron-dark: #e89217;
  --color-sunglow: #edc647;
  --color-sunglow-hover: rgba(237, 198, 71, 0.5);
  --color-sunglow-bg: "#fcf6e3";
  --color-body-text: #3c3c3c;
  --color-black: #000;
  --color-light: #fcf6e3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.container {
  max-width: 90%;
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}

html,
body {
  position: relative;
  height: 100%;
  font-family: "Urbanist", sans-serif;
  scroll-behavior: smooth;
}

/* hero slider styles  */
.mySwipper .swiper,
.boySwiper .swiper {
  width: 100%;
  height: 100%;
}

.mySwiper .swiper {
  margin-left: auto;
  margin-right: auto;
}
.swiper.boySwiper {
  padding-top: 50px;
}

.boySwiper .swiper-pagination {
  bottom: 94%;
  z-index: 10;
}

/* nav menu active styles  */
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: transparent; /* Default to transparent for outline effect */
  border: 1px solid var(--color-coral-dark); /* Outline for inactive bullets */
  opacity: 1; /* Ensure bullets are fully visible */
}

/* Active bullet styling: solid red */
.swiper-pagination-bullet-active {
  background-color: var(--color-coral-dark); /* Solid color for active bullet */
  border-color: var(
    --color-coral-dark
  ); /* Keeps the border same as the background color */
}

/* .swiper.boySwiper {
  touch-action: auto;
  user-select: none;
} */

/* .swiper-slide {
  touch-action: pan-y;
} */
